* { margin : 0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix::after{
    content: ' ';
    display: block;
    clear: both;
}

li {
    list-style: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

/* body setting */
.glass {
    width: 95%;
    height: auto;
    background-image: linear-gradient(120deg, #59d5eb 0%, #e19ae7 100%);
    opacity: 0.7;
    border-radius: 8px;
    padding: 20px;
    margin: 30px auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.flex-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 5px solid black;
    border-radius: 10px;
    margin: 5px auto;
    padding: 15px;
    justify-content: space-between;
}

/* Header */
.header {
    width: 95%;
    height: 50px;
    margin: 5px auto;
    position: relative;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
}
.header button{
    float: left;
    margin: 7px;
    width: 30px;
    height: 30px;
}
.header .top-nav {
    position: relative;
    float: right;
    display: inline-flex;
    right: 3px;
    top: -30px;
}



/* Navigation */
.nav {
    width: 10%;
    border: 3px solid green;
    border-radius: 5px;
}


/* Input, Calender section */
.main-section {
    width: 75%;
    border: 3px solid green;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.main-section .calendar {
    width: 95%;
    height: auto;
    margin: 15px auto;
    border: 1px solid black;
}
.main-section .input-section {
    width: 95%;
    height: 200px;
    margin: 15px auto;
    border: 1px solid black;
    float: left;
}
         /* Input-Form */
#input_form input {
    all: unset;
    width: 70%;
    height: 2.5em;
    border: solid 2px #dbe3e6;
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    padding-left: 1em;
}
#input_form button {
    width: 5em;
    height: 2.5em;
    font-size: 1em;
    background-color: transparent;
    border: solid 2px #dbe3e6;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
        0 15px 40px rgba(166, 173, 201, 0.2);
    cursor: pointer;
}
#input_form input:focus,
#input_form input:hover,
#input_form button:hover {
    border: solid 2px #6a476b;
}

section .input-box {
    width: 100%;
    height: 10%;
    text-align: center;
}

.item_list {
    width: 80%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}
.item_list ul li {
    width: 100%;
    height: 20px;
    min-width: 40%;
    background-color: transparent;
    border-radius: 5px;
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
}
.item_list ul li.checked {
    background: rgb(117, 238, 147);
    color: #272341;
    text-decoration: line-through;
}

/* Aside */
.aside {
    width: 10%;
    border: 3px solid green;
    border-radius: 5px;
}









.main{
    background: rgb(238,126,195);
    background: linear-gradient(74deg, rgba(238,126,195,1) 9%, rgba(149,175,213,0.981127485173757) 100%);
    width: 840px;
    margin: 30px auto 0;
    padding: 20px 0px 20px 25px;
    border-radius: 10px;
}

.main .main-title{
    padding: 10px;
    color: #fff;
    text-align: center;
}

.main .day{
    width: 100%;
    margin: 5px auto;

}

.main .day li {
    float: left;
    background: white;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin-right: 14px;
    margin-top: 10px;
}

.main .day li:last-child{
    margin-right: 0;
}

.main .day li:hover{
    cursor: pointer;
    transition: all .2s;
    transform: scale(1.08);
}

.month{
    color: #fff;
    font-size: 22px;
    text-align: center;
    margin-left: -25px;
    margin-bottom: 15px;
    padding: 8px;
}

.month .fas{
    font-size: 30px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.month .fas:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.2);
}

.month .fa-chevron-left{
    float: left;
    margin-left: 15px;
}

.month .fa-chevron-right{
    float: right;
    margin-right: 15px;
}

.dayCount .dayCount-list li{
    float: left;
    width: 114px;
    color: #fff;
}

.sun,.sat{
    color: red;
}

.none{
    display: none;
}

