<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
    <link href="login.css" rel="stylesheet" />
    <script src ="login.js" defer></script>
</head>
<body>
  <h1> Login Page</h1>
  <form name="loginpage">
      <div>
        <input type = "text" placeholder="Id" class = "id">
      </div>
      <div>
      <input type = "password" placeholder="Password" class = "password">
      </div>
      <div>
      <button type ="submit" class="btn" id="enter">Login</button>
      <button class = "btn2" onclick="window.open('join.html')">Join</button>
      </div>
  </form>
</body>
</html>